.about-food {
  font-family: $secondary-font;
  text-align: left;
}

.about-food__subtitle {
  margin-top: 0;
  margin-bottom: 28px;
}

.about-food__list {
  @include reset-list;
}

.about-food__item {
  display: flex;
  align-items: center;

  &::before {
    margin-right: 16px;
    width: 60px;
    height: 60px;
    flex-shrink: 0;

    content: '';

    background-color: $green;
    background-image: url('../img/advantage-leaf@1x.png');
    background-position: center center;
    background-repeat: no-repeat;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &--theme-boil {
    &::before {
      background-image: url('../img/advantage-powder@1x.png');
    }
  }

  &--theme-kitchen {
    &::before {
      background-image: url('../img/advantage-dining@1x.png');
    }
  }

  &--theme-time {
    &::before {
    background-image: url('../img/advantage-clock@1x.png');
    }
  }
}

@media (min-width: $tablet-width) {
  .about-food__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .about-food__subtitle {
    margin-bottom: 73px;
  }

  .about-food__item {
    position: relative;

    width: 245px;
    min-height: 228px;
    flex-direction: column;
    align-items: flex-start;

    &:nth-child(n+1) {
      margin-bottom: 90px;
    }

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }

    &:nth-child(odd) {
      margin-right: 139px;
    }

    &::before {
      width: 80px;
      height: 80px;
      margin-right: 0;
      margin-bottom: 32px;
      background-size: 50px 49px;
    }

    @for $i from 1 through 4 {
      &:nth-child(n+#{$i})::after {
          position: absolute;
          left: 111px;
          top: -38px;
          opacity: 0.1;
          font-family: $default-font;
          @include text(281px, 281px);
          content: '#{$i}';
      }
    }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {

    &::before {
      background-image: url('../img/advantage-leaf@2x.png');
    }

    &--theme-boil {
      &::before {
        background-image: url('../img/advantage-powder@2x.png');
      }
    }

    &--theme-kitchen {
      &::before {
        background-image: url('../img/advantage-dining@2x.png');
      }
    }

    &--theme-time {
      &::before {
        background-image: url('../img/advantage-clock@2x.png');
      }
    }
  }
    &:nth-child(1)::after {
      left: 117px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-food__subtitle {
    margin-top: -5px;
    margin-bottom: 71px;
  }

  .about-food__item {

    &:nth-child(-n+4) {
      margin-bottom: 0;
    }

    &:not(:nth-child(4n+4)) {
      margin-right: 80px;
    }
  }
}
