.contacts-list {
  @include reset-list;
  @include flex(row);
  align-items: center;
  flex-wrap: wrap;
}

.contacts-list__item {
  color: $social-icons-color;

  &:first-child {
    margin-left: auto;
  }

  &:nth-child(3n+2) {
    margin-left: 36px;
    margin-right: 40px;
  }

  &:last-child {
    margin-right: auto;
  }

  &:hover {
    color: $green;
  }

  &:hover > .contacts__icon {
    fill: currentcolor;
  }

  &:active {
    color: $green;
    opacity: 0.3;
  }
}

.contacts__icon {
  fill: currentcolor;
}

@media (min-width: $tablet-width) {
  .contacts-list__item {
    &:nth-child(3n+2) {
      margin-left: 28px;
      margin-right: 29px;
    }
  }

  .contacts__icon {
    width: 30px;
    height: 16px;

    &--resize {
      width: 23px;
      height: 23px;
    }

    &--wide {
      width: 14px;
      height: 28px;
    }
  }
}
