.contacts-list {
  @include reset-list;
  padding: 25px 0;
  padding-bottom: 19px;
  display: flex;
  flex-direction: row;

  border-top: 1px solid $gray-dark;
  border-bottom: 1px solid $gray-dark;
}

.contacts-list__item {
  &:first-child {
    margin-left: auto;
  }

  &:not(:last-child) {
    margin-right: 36px;
  }

  &:last-child {
    margin-right: auto;
  }
}

@media (min-width: $tablet-width) {
  .contacts-list {
    border: none;
  }
}
