.container {
  padding: 0 20px;
  margin: auto;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 30px;
    margin: auto;
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0 40px;
    margin: auto;
    width: 1220px;
  }
}
