.contacts-list {
  display: flex;
  flex-direction: row;

  @include reset-list;
}

.contacts-list__item {
  &:first-child {
    margin-left: auto;
  }

  &:not(:last-child) {
    margin-right: 36px;
  }

  &:last-child {
    margin-right: auto;
  }
}
