.extra__list {
  @include reset-list;
}

.extra__item {
  padding: 15px 0;
  padding-bottom: 17px;
}

.extra__title {
  margin: 0;
  margin-bottom: 34px;
  width: 247px;
  padding-right: 20px;
}


@media (min-width: $tablet-width) {
  .extra__item {
    padding-top: 25px;
    padding-bottom: 27px;
    padding-left: 38px;
    padding-right: 36px;
  }

  .extra__list {
    padding: 0;
  }

  .extra__title {
    padding: 0 37px;
    width: 338px;
    margin-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .extra__list {
    width: 895px;
    margin-left: 0;
  }

  .extra__item {
    padding: 15px 0 16px;
    align-items: center;
    justify-content: flex-start;

    border-left: none;
    border-right: none;
  }

  .extra__title {
    padding: 0;
    margin-left: -40px;
    padding-left: 39px;
    padding-right: 35px;
  }
}
