.extra-card {
  @include flex(row);
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  text-align: left;
  @include text(16px, 16px);
  color: $black-light;

  border-top: 1px solid $gray-dark;

  &:last-child {
    border-bottom: 1px solid $gray-dark;
  }

}

.extra-card__name {
  margin-top: 0;
  width: 100%;

  text-transform: uppercase;
}

.extra-card__amount,
.extra-card__price {
  margin: 0;
  margin-bottom: 16px;

  font-family: $secondary-font;
  @include text(14px, 14px);
  color: $black-lightest;
}

.extra-card__link {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .extra-card {
    padding-left: 40px;
    padding-right: 40px;
    width: auto;
    justify-content: flex-end;

    border-left: solid 1px #cdcdcd;
    border-right: solid 1px #cdcdcd;
  }

  .extra-card__name {
    width: auto;
    margin-right: auto;
  }

  .extra-card__price {
    margin-left: 52px;
  }

  .extra-card__amount {
    margin-left: 200px;
  }
}

@media (min-width: $desktop-width) {
  .extra-card {
    align-items: center;

    border-left: none;
    border-right: none;
  }

  .extra-card__name {
    margin: 0;
    margin-right: 80px;
    width: 245px;
  }

  .extra-card__amount {
    margin: 0;
    margin-right: auto;
  }

  .extra-card__price {
    margin: 0;
    margin-right: 40px;
  }

  .extra-card__link {
    width: 245px;
  }
}
