.extra-card__name {
  margin-top: 0;
  width: 100%;

  @include text(16px, 16px);
  color: $black-light;
  text-transform: uppercase;
}

.extra-card__amount,
.extra-card__price {
  margin-top: 0;
  @include text(14px, 14px);
  color: $black-lightest;
}


@media (min-width: $tablet-width) {
  .extra-card__name {
    width: auto;
    margin-right: auto;
  }

  .extra-card__price {
    margin-left: 52px;
  }

  .extra-card__amount {
    margin-left: 200px;
  }
}

@media (min-width: $desktop-width) {
  .extra-card__name {
    margin: 0;
    margin-right: 80px;
    width: 245px;
  }

  .extra-card__amount {
    margin: 0;
    margin-right: auto;
  }

  .extra-card__price {
    margin: 0;
    margin-right: 40px;
  }
}
