.food-info {
  margin-bottom: 11px;
  font-family: $secondary-font;
}

.food-info__heading {
  font-weight: 400;
  text-align: left;
}

.food-info__date {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .food-info {
    width: 100%;
  }
}
