.food-card {
  @include flex(row);
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;

  @include text(16px, 20px);
  color: $black;

  border-top: 1px solid #ededed;

  &:last-of-type {
    border-bottom: 1px solid #ededed;
  }
}

.food-card__link {
  width: 100%;
  padding: 10px 0;

  @include text(16px, 20px);
}

.food-card__wrapper {
  @include flex(column);
  width: 50%;
}

.food-card__name-link {
  width: 93px;
  margin-top: 22px;
  margin-bottom: 10px;

  text-transform: uppercase;
  text-align: left;
}

.food-card__img {
  vertical-align: middle;
}

.food-card__info {
  width: 140px;
}

@media (min-width: $tablet-width) {
  .food-card {
    @include flex(column);
    align-items: center;
    width: 324px;
    min-height: 478px;

    @include text(20px, 20px);

    &:nth-of-type(n+1){
      border: none;
    }

    background: linear-gradient($white 46px, $gray 46px);

    &--more-tall {
      min-height: 513px;
      background: linear-gradient($white 82px, $gray 82px);
    }


    &:nth-of-type(odd) .food-card__img {
      width: 161px;
      height: 172px;
    }

    &:nth-of-type(2n) .food-card__img {
      width: 195px;
      height: 208px;
    }
  }

  .food-card__img {
    margin-bottom: 38px;
  }

  .food-card__wrapper {
    align-items: center;
    width: 100%;
    margin-bottom: 29px;
  }

  .food-card__name-link {
    width: 140px;
    margin: 0;
    margin-bottom: 12px;

    text-align: center;
    @include text(20px, 20px);
  }

  .food-card__link {
    width: 250px;
  }

  .food-card__info {
    width: 100%;
    border-spacing: 0 12px;
  }
}

@media (min-width: $desktop-width) {
  .food-card {
    width:245px;
    &:nth-child(even) {

      .food-card__img-link {
        margin-left: -15px;
      }
    }
  }
}
