.food-card-list {
  margin-left: 0;
  margin-top: 0;
  padding-left: 0;

  list-style: none;
}

.food-card-list__food-card {
  @include full-width();
  padding-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .food-card-list {
    @include flex(row);
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .food-card-list__food-card {
    margin: 0;
    padding: 0;
    padding-bottom: 41px;
    padding-left: 37px;
    padding-right: 35px;

    &:not(:nth-child(2n+2)) {
      margin-right: 60px;
    }

    &:not(:nth-last-child(-n+2)) {
      margin-bottom: 58px;
    }
  }
}

@media (min-width: $desktop-width) {
  .food-card-list__food-card {
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 40px;

    &:not(:nth-child(4n+4)) {
      margin-right: 80px;
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 0px;
    }
  }
}
