.food-card {
  @include flex(row);
  flex-wrap: wrap;
  align-items: flex-start;
  box-sizing: border-box;

  @include text(16px, 20px);
  color: $black;
}

.food-card__link {
  width: 100%;
  padding: 10px 40px;
  box-sizing: border-box;
}

.food-card__wrapper {
  @include flex(column);
  width: 50%;
}

.food-card__name-link {
  width: 93px;
  margin-top: 22px;
  margin-bottom: 10px;

  text-transform: uppercase;
  text-align: left;
}

.food-card__img {
  vertical-align: middle;
}

.food-card__info {
  width: 140px;
}

@media (min-width: $tablet-width) {
  .food-card {
    @include flex(column);
    justify-content: flex-end;
    width: 324px;
    min-height: 513px;

    @include text(20px, 20px);

    background: linear-gradient($white 81px, $gray 81px);

    &:nth-of-type(odd) .food-card__img {
      height: 172px;
    }

    &:nth-of-type(2n) .food-card__img {
      height: 208px;
    }
  }

  .food-card__img-link {
    margin-left: -37px;
    margin-bottom: 37px;
  }

  .food-card__img {
    width: 324px;
  }

  .food-card__wrapper {
    align-items: center;
    width: 100%;
  }

  .food-card__name-link {
    width: 140px;
    margin: 0;
    margin-bottom: 9px;

    text-align: center;
    @include text(20px, 20px);
  }

  .food-card__link {
    width: 250px;
  }

  .food-card__info {
    width: 100%;
    margin-bottom: 21px;
  }
}

@media (min-width: $desktop-width) {
  .food-card {
    width:245px;
  }

  .food-card__img {
    width: 245px;
  }

  .food-card__link {
    width: 100%;
  }
}
