.food-card-list {
  @include reset-list;
}

.food-card-list__food-card {
  padding: 0 20px;
  padding-bottom: 25px;

  border-top: $border;
}

@media (min-width: $tablet-width) {
  .food-card-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .food-card-list__food-card {
    padding: 0 40px 40px;

    &:not(:nth-child(2n+2)) {
      margin-right: 60px;
    }

    &:not(:nth-last-child(-n+2)) {
      margin-bottom: 140px;
    }
  }
}

@media (min-width: $desktop-width) {
  .food-card-list__food-card {
    &:not(:nth-child(4n+4)) {
      margin-right: 80px;
    }

    &:nth-last-child(-n+4) {
      margin-bottom: 0px;
    }
  }
}
