.food-info {
  font-family: $secondary-font;
  @include text(12px, 16px);
  color: $black-lightest;
}

.food-info__heading {
  font-weight: 400;
  text-align: left;
}

.food-info__date {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .food-info {
    @include  text(16px, 16px);
  }

  .food-info__date,
  .food-info__heading {
    border-bottom: 1px solid $gray-dark;
  }
}
