.footer {
  text-align: center;

  background: $gray-light;
}

.footer__logo {
  display: block;
  width: 128px;
  margin: auto;
  margin-bottom: 31px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__logo-img {
  vertical-align: top;
}

.footer__contacts {
  margin-bottom: 21px;
  padding: 23px 0;
  padding-bottom: 17px;
  padding-left: 73px;
  padding-right: 82px;

  border-top: 1px solid $gray-dark;
  border-bottom: 1px solid $gray-dark;
}

.footer__wrapper {
  padding-top: 40px;
}

.footer__on-map {

  &--theme-light {
    background: $white;
  }
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 53px;
    padding-bottom: 58px;
  }

  .footer__logo {
    margin: 0;
    margin-right: 156px;
  }

  .footer__contacts {
    max-width: 124px;
    padding: 0;
    margin: 0;
  }

  .footer__made-by {
    margin-left: auto;
    min-width: 162px;
  }

  .footer__on-map {
    min-height: 601px;
  }

  .footer__contacts {
    border: none;
  }

}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    padding-top: 58px;
    padding-left: 0;
    padding-right: 0;
  }

  .footer__logo {
    margin-right: 412px;
  }

  .footer__container {
      position: relative;
      width: 1220px;
      margin: auto;

    padding: 0 40px;
  }

  .footer__on-map {
  min-height: 400px;
  }
}
