.form__required {
  @include text(14px, 16px);
}

.form__group {
  margin: 30px 0;
  padding: 0;

  border: none;

  &--full-width {
    margin: 0 -20px;
    padding: 20px;

    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }
}

.form__link {
  width: 100%;

  border: none;
}

@media (min-width: $tablet-width) {
  .form__link {
    width: 283px;
    padding: 16px 0;
    @include text(20px, 20px);
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    display: flex;
  }

  .form__container {
    padding: 0;
    margin: 0;
    margin-right: 80px;
    width:auto;
  }

  .form__group {
    &--change-width {
      width: 570px;
    }
  }

  .form__link {
    width: 570px;
  }
}
