.form-group {
  padding: 0;

  text-align: left;

  border: none;
}


@media (min-width: $desktop-width) {
  .form-group__container {
    &--change-layout {
      padding: 0;
      width: auto;
    }
  }
}
