.form__required {
  font-family: $secondary-font;
  @include text(14px, 16px);

  margin: 0;
}

.form__group {
  margin: 0;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 0;

  border: none;

  &--accent {
    @include full-width();
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 28px;

    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }

  &--comment {
    margin-bottom: 28px;
  }

  &--comment .form__group-title {
    margin-bottom: 35px;
  }

  &--change-layout {
    margin-bottom: 28px;
  }

  &--change-layout .form__group-title {
    margin-bottom: 34px;
  }

  &--change-layout .form__input {
    margin-left: 10px;
  }

  &--accent .form__item {
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  &--parameters {
    margin-bottom: 23px;
  }

  &--row-layout {
    margin-bottom: 24px;
  }

  &--row-layout .form__item {
    margin-bottom: 10px;
  }
}

.form__link {
  width: 100%;
  padding: 10px 40px;

  margin-bottom: 21px;

  border: none;
}

@media (min-width: $tablet-width) {
  .form__group {
    padding-left: 40px;
    padding-right: 35px;
    margin-bottom: 70px;

    &--accent {
      margin: 0;
      margin-bottom: 73px;
      margin-left: 40px;
      margin-right: 35px;
      padding: 25px 28px;

      border: 1px solid #ededed;
    }

    &--row-layout .form__group-title {
      margin-bottom: 58px;
    }

    &--row-layout .form__group-list {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    &--row-layout .form__item {
      width: 283px;

      &:nth-child(odd) {
        margin-right: 61px;
      }

      &:not(:nth-last-child(-n+2)) {
        margin-bottom: 32px;
      }
    }

    &--parameters {
      margin-bottom: 72px;
    }

    &--row-layout {
      margin-bottom: 34px;
    }

    &--change-layout {
      margin-bottom: 64px;
    }

    &--change-layout .form__group-title {
      margin-bottom: 77px;
    }

    &--change-layout .form__input {
      margin-left: 18px;
    }

    &--comment .form__group-title {
      margin-bottom: 77px;
    }

    &--comment {
      margin-bottom: 64px;
    }
  }

  .form__link {
    width: 283px;
    margin: 0;
    margin-left: 41px;
    margin-right: 61px;
    padding: 16px 0;
    @include text(20px, 20px);
  }

  .form__wrapper {
    @include flex(row);
    align-items: center;
  }

  .form__required {
    @include text(16px, 16px);
  }
}

@media (min-width: $desktop-width) {
  .form__container {
    margin-bottom: 67px;
  }

  .form__group {
    padding: 0;

    &--change-layout {
      margin-bottom: 66px;
    }

    &--change-layout .form__group-list {
      @include flex(row);
    }
    &--change-layout .form__item {
      width: 570px;

      &:not(:last-child) {
        margin-right: 80px;
        margin-bottom: 0;
      }
    }

    &--parameters {
      width: 570px;
      margin-right: 80px;
      margin-bottom: 0;
    }

    &--accent {
      padding: 25px 28px;
      width: 570px;
      margin: 0;
    }

    &--row-layout {
      margin-bottom: 61px;
    }

    &--row-layout .form__group-title {
      margin-bottom: 58px;
    }

    &--row-layout .form__group-list {
      justify-content: flex-start;
    }

    &--row-layout .form__item {
      width: 245px;

      &:nth-child(n+1) {
        margin-bottom: 0;
      }

      &:not(:nth-child(4n+4)) {
        margin-right: 80px;
      }
    }

    &--comment {
      margin-bottom: 66px;
    }
  }

  .form__container {
    @include flex(row);
  }

  .form__link {
    width: 570px;
    margin-left: 0;
    margin-right: 82px;
  }
}
