.form-group-list {
  @include reset-list;
}

.form-group-list__item {
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.form-group-list__input {
  flex-grow: 1;
  padding: 15px;
  margin-left: 15px;
  height: 45px;
  box-sizing: border-box;

  @include text(16px, 18px);
  color: $black-lightest;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
}

.form-group-list__input-comment {
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
  padding: 15px;

  @include text(16px, 18px);
  font-weight: 400;
  color: $black-lightest;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
}

.form-group-list__checkmark {
  width: 30px;
  height: 30px;
  padding: 9px;
  box-sizing: border-box;
  margin-right: 16px;

  border: 1px solid #cdcdcd;

  &--circle-shape {
    border-radius: 50%;
  }
}

.form-group-list__check {
  display: none;

  &:checked + .form-group-list__checkmark {

    background: url('../img/icon-tick.svg') no-repeat 50% 50%;
    background-size: 17px 22px;
  }

  &:checked + .form-group-list__checkmark--circle-shape {

    background: $green;
    background-clip: content-box;
  }
}

.form-group-list__radio {
  display: none;

  &:checked + .form-group-list__radiomark {

  }
}
.form-group-list__title {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: $black-light;
  text-transform: uppercase;

}

@media (min-width: $tablet-width) {
  .form-group-list {

    &--row-layout {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--row-layout .form-group-list__item {
      width: 283px;

      &:nth-child(odd) {
        margin-right: 60px;
      }

      &:not(:nth-last-child(-n+2)) {
        margin-bottom: 32px;
      }
    }
  }

  .form-group-list__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-group-list {
    padding: 0;
    &--change-layout {
      display: flex;
      flex-direction: row;
    }
  }

  .form-group-list__checkmark {
    width: 40px;
    height: 40px;
    padding: 11px;
  }

  .form-group-list__title {
    &--change-width {
      width: 570px;
    }
  }

  .form-group-list__item {
    &--change-layout {
      margin-right: 80px;
    }
  }

  .form-group-list {
    &--row-layout {
      justify-content: flex-start;
    }

    &--row-layout .form-group-list__item {
      width: 245px;

      &:not(:nth-child(4n+4)) {
        margin-right: 80px;
      }
    }
  }
}
