.form-group {
  text-align: left;
  @include text(16px, 18px);
  color: $black-light;
}

.form-group__title {
  display: inline-block;

  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  margin-left: -20px;
  margin-bottom: 30px;

  &--fix-width {
    width: 181px;
  }
}


@media (min-width: $tablet-width) {
  .form-group {
    @include text(20px, 20px);
  }

  .form-group__title {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -40px;
    margin-bottom: 70px;

    &--fix-width {
      width: auto;
    }
  }

}
