.form-group-list {
  @include reset-list;
}

.form-group-list__item {
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.form-group-list__input {
  padding: 15px;
  padding-right: 33px;
  height: 45px;
  width: 100px;
  flex-grow: 1;
  margin-left: 15px;
  box-sizing: border-box;

  @include text(16px, 18px);
  color: $black-lightest;
  text-transform: uppercase;

  border: 1px solid rgba(205, 205, 205, 0.5);

  &--theme-tel {
    background: url('../img/icon-phone.svg');
    background-repeat: no-repeat;
    background-size: 21px 21px;
    background-position: 93% 50%;
  }

  &::placeholder {
    color: $black-lightest;
    opacity: 1;
  }

  &:hover {
    border: $border-input;
  }

  &:invalid {
    outline: 2px solid $border-error;
    outline-offset: -1px;
    box-shadow: none;
  }

  &:focus {
    outline: 2px solid $black;
  }

  &:focus + .form-group-list__icon {
    fill: $green;
  }

  &:invalid + .form-group-list__icon {
    fill: #ff8282;
  }
}

.form-group-list__input-comment {
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
  padding-bottom: 15px;
  padding-right: 12px;
  padding-left: 14px;
  padding-top: 12px;

  @include text(16px, 18px);
  font-weight: 400;
  color: $black-lightest;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
}

.form-group-list__checkmark {
  width: 30px;
  height: 30px;
  padding: 9px;
  box-sizing: border-box;
  margin-right: 16px;

  border: 1px solid #cdcdcd;

  &--circle-shape {
    border-radius: 50%;
  }
}

.form-group-list__check {
  display: none;

  &:checked + .form-group-list__checkmark {

    background: url('../img/icon-tick.svg') no-repeat 50% 50%;
    background-size: 17px 22px;
  }

  &:checked + .form-group-list__checkmark--circle-shape {

    background: $green;
    background-clip: content-box;
  }
}

.form-group-list__icon {
  position: absolute;
  right: 15px;
  top: 15px;
}

.form-group-list__title {
  position: relative;

  @include flex(row);
  align-items: center;

  color: $black-light;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }

  &--hover:active {
    opacity: 0.3;
  }

  &--hover:hover > .form-group-list__checkmark {
    border: 1px solid #bababa;
  }
}

@media (min-width: $tablet-width) {
  .form-group-list__checkmark {
    width: 40px;
    height: 40px;
    padding: 11px;
    margin-right: 19px;
  }

  .form-group-list__input-comment {
    padding-top: 9px;
    padding-left: 18px;
    padding-right: 12px;
    min-height: 174px;

    @include text(20px, 30px);
  }


  .form-group-list__icon {
    position: absolute;
    right: 19px;
    top: 20px;
  }

  .form-group-list__input {
    height: 52px;
    padding: 17px 20px;
    padding-right: 37px;
    margin-left: 18px;

    &--theme-tel {
      background: url('../img/icon-phone.svg');
      background-repeat: no-repeat;
      background-size: 21px 21px;
      background-position: 97% 50%;
    }
  }

  .form-group-list__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
