.header {
  margin-bottom: 20px;

  @include text(20px, 20px);
  font-weight: 500;
  color: $black;

  &--theme-contrast {
    margin-bottom: 17px;
  }
}

.header__menu-button {
  display: none;
}

.header__navigation {
  display: none;
}

.header__container {
  padding: 0;
  width: auto;
  border-bottom: 1px solid #e6e6e6;
}

.header__title {
  margin-top: 0;
  margin-bottom: 25px;

  @include text(36px, 36px);
  font-weight: 400;
  color: $white;
}

.header__slogan {
  @include text(14px, 14px);
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
}

.header__wrapper{
  padding: 0 20px;
  padding-top: 11px;
  padding-bottom: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__promo-wrapper {
  background: linear-gradient($green-dark 305px, $white 305px);
}

.header__promo-container {
  padding-top: 27px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 50% 0%;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }

}

.header__logo-img {
  vertical-align: middle;
}

.header__img {
  display: block;
  margin-bottom: 4px;
}

.header__image {
  vertical-align: middle;
}

.header__menu-button {
  width: 25px;
  height: 19px;
  padding: 0;

  font-size: 0;

  border: none;
  background: url("../img/icon-mobile-menu.svg") no-repeat center;
  cursor: pointer;
}

.header__link {
  padding: 11px 40px;
}

.header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .header {
    margin-bottom: 0;

    @include text(18px, 20px);
    font-weight: 400;
    color: $black-light;
    text-align: left;

    &--theme-contrast {
      margin-bottom: 57px;
    }
  }

  .header__logo-img {
    width: 174px;
    height: 59px;
  }

  .header__title {
    width: 420px;
    margin-bottom: 42px;
    padding-left: 87px;

    @include text(60px, 60px);
    color: $black;
  }

  .header__slogan {

    padding-left: 88px;
    margin-bottom: 48px;

    @include text(20px, 20px);
    color: $black;
  }

  .header__promo-wrapper {
    background: transparent;
  }

  .header__promo-container {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;

    background: transparent;
  }

  .header__navigation {
    display: block;
    margin-top: 20px;
  }

  .header__link {
    position: relative;
    z-index: 1;

    width: 245px;
    padding: 16px 15px;
    box-sizing: border-box;
    margin-left: 89px;
    margin-bottom: -80px;
  }

  .header__img {
    order: 1;
    margin-bottom: 0;
  }

  .header__image {
    width: 709px;
    height: 609px;

  }

  .header__container {
    padding: 0 30px;
    padding-top: 24px;
    width: 708px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    border: none;
  }

  .header__wrapper {
    padding: 0;
  }

  .header__menu-button {
    display: none;
  }
}
  @media (min-width: $desktop-width) {
    .header {
      margin-bottom: 80px;

      @include text(20px, 25px);
      color: $white;

      background-image: url("../img/index-background-desktop@1x.jpg"),
                        linear-gradient(to right, $white 50%, $green-dark 50%);
      background-position: 100% 0%;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg"),
                          linear-gradient(to right, $white 50%, $green-dark 50%);
        background-size: 720px auto, auto;
      }

      &--theme-contrast {
        margin-bottom: 75px;

        color: $black;

        background: transparent;
      }
    }

    .header__container {
      padding: 0 40px;
      padding-top: 53px;
      width: 1220px;
      margin: auto;
    }

    .header__navigation {
      margin-top: 20px;
    }

    .header__promo-container {
      height: 552px;
      padding-top: 30px;
    }

    .header__link {
      margin-left: 80px;
      margin-bottom: 0;
    }

    .header__image {
      width: 552px;
      height: 499px;
    }

    .header__img {
      margin-left: -50px;
    }

  .header__title {
    margin-top: 79px;
    margin-bottom: 42px;
    padding-left: 80px;
  }

  .header__slogan {
    padding-left: 81px;
    margin-bottom: 52px;
  }

  .header__logo-img {
    width: 203px;
    height: 60px;
  }
}
