.header {
  @include text(20px, 20px);
  font-weight: 500;
  text-transform: uppercase;
  color: $black;
}

.header__wrapper{
  padding-top: 11px;
  padding-bottom: 15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo-img {
  vertical-align: bottom;
}

.header__menu-button {
  width: 25px;
  height: 19px;
  padding: 0;

  font-size: 0;

  border: none;
  background: transparent;
  outline: 1px solid black;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include text(18px, 20px);
    font-weight: 400;
    color: $black-light;
  }

  .header__wrapper {
    padding-top: 24px;
    padding-bottom: 0;
  }

  .header__menu-button {
    display: none;
  }
}
  @media (min-width: $desktop-width) {
    .header {
      @include text(20px, 25px);
      color: $white;

      background: transparent;
    }

  .header__logo-img {
    &--resize {
      width: 174px;
      height: 58px;
    }
  }
}
