.link {
  display: block;
  width: 100%;
  padding: 11px 0;

  @include text(14px, 18px);
  text-align: center;
  text-transform: uppercase;
  color: $white;

  background-color: $button-green;

  &--theme-gray {
    background-color: $button-gray;
    color: $black-lightest;
  }
}


@media (min-width: $desktop-width) {
  .link {
    &--less-wide {
      width: 245px;
    }
  }
}
