.link {
  display: block;

  @include text(14px, 18px);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  background-color: $button-green;

  &--theme-gray {
    background-color: $button-gray;
    color: $black-lightest;
  }
}

@media (min-width: $tablet-width) {
  @include text(20px, 20px);
}
