.link {
  display: block;

  @include text(14px, 18px);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  background-color: $button-green;

  &--theme-gray {
    background-color: $button-gray;
    color: $black-lightest;
  }

  &--constant-size {
    @include text(16px, 20px);
  }

  &--medium-size {
    @include text(16px, 20px);
  }
}

@media (min-width: $tablet-width) {
  .link {
    @include text(20px, 20px);

    &--constant-size {
      @include text(16px, 20px);
    }

    &--medium-size {
      @include text(20px, 20px);
    }
  }
}
