.main {
  text-align: center;

  outline: 1px solid blue;

  &--theme-light {
    background: $white;
  }
}

.main__wrapper {
  width: 320px;
  min-height: 305px;
  margin-left: -20px;

  background: $white url('../img/index-background-mobile@1x.jpg') no-repeat;
}

.main__title {
  margin-top: 0;
  margin-bottom: 24px;

  @include text(36px, 36px);
  font-weight: 400;
  color: $white;
}

.main__slogan {
  @include text(14px, 14px);
  color: $white;
  text-transform: uppercase;
}

.main__about-form {
  text-transform: uppercase;
  text-align: left;
}
