.main {
  text-align: center;
}

.main__link {
  display: block;
  margin-bottom: 22px;
}

.main__title {
  margin: 0;
  padding: 30px 20px;

  border-top: 1px solid #e6e6e6;
}

.main__about-form {
  text-transform: uppercase;
  text-align: left;
}

.main__food-types {
  margin-bottom: 30px;
}

.main__image {
  vertical-align: middle;
}

.main__promo {
  background: $gray-light;
}

@media (min-width: $tablet-width) {
  .main {
    text-align: left;

    background: $white;
  }

  .main__food-types {
    margin-bottom: 50px;
  }

  .main__title {
    padding-top: 66px;
    padding-bottom: 156px;
  }


  .main__catalog-title {
    margin-top: 0;
  }

  .main__promo {
    padding-top: 50px;
    box-sizing: border-box;

    background: linear-gradient($white 619px, $gray 619px);
  }
}



@media (min-width: $desktop-width) {
  .main__title{
    padding-top: 83px;

    border: none;
  }

  .main__food-types {
    display: flex;
    flex-direction: row;
  }
}
