.main {
  text-align: center;
}

.main__container {
  padding-bottom: 43px;

  &--padding-bottom {
    padding-bottom: 37px
  }
}

.main__title {
  margin: 0;
  margin-bottom: 28px;
}

.main__about-form {
  width: 228px;
  margin: 0;
  margin-bottom: 69px;
  text-transform: uppercase;
  text-align: left;
}

.main__food-types {
  margin-bottom: 18px;
}

.main__image {
  vertical-align: middle;
}

.main__promo {
  background: $gray-light;
}

.main__food-card-list {
  margin-bottom: 27px;
}

.main__extra {
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .main {
    text-align: left;

    background: $white;
  }

  .main__title {
    margin-bottom: 84px;
  }

  .main__container {
    padding-bottom: 57px;
  }

  .main__food-types {
    margin-bottom: 45px;
  }

  .main__catalog-title {
    margin-top: 0;
  }

  .main__promo {
    box-sizing: border-box;

    background: linear-gradient($white 619px, $gray-light 619px);
  }

  .main__about-form {
    width: 325px;
    padding-left: 40px;

    @include text(20px, 30px);
  }

  .main__extra {
    margin-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .main__promo {
    background: linear-gradient($white 150px, $gray-light 150px);
  }

  .main__container {
    padding-bottom: 90px;
  }

  .main__about-form {
    padding-left: 0;
  }

  .main__box {
    @include flex(row);
    align-items: flex-end;
  }

  .main__extra {
    margin-right: 80px;
  }

  .main__food-types {
    margin-bottom: 78px;
    display: flex;
    flex-direction: row;
  }

  .main__wrapper {
    position: relative;
  }

  .main__extra {
    margin-bottom: 0;
  }

  .main__food-card-list {
    margin-bottom: 79px;
  }
}
