.navigation {
  width: 100%;
  text-align: center;
}

.navigation__list {
  @include reset-list;
}

.navigation__item {
  padding: 22.5px 0;
}

@media (min-width: $tablet-width) {
  .navigation {
    width:auto;
  }

  .navigation__list {
    width: 442px;
    display: flex;
    flex-wrap: wrap;
  }

  .navigation__item {
    padding: 0;

    &:not(:last-child) {
      margin-right: 36px;
    }
  }

  .navigation__link {
    /*без указания блочного типа для ссылки, она выпадает из родительского блока на несколько пикселей в высоту. Причина пока не ясна*/
    display: block;

    &--active {
      border-bottom: 2px solid $green;
    }
  }
}

@media (min-width: $desktop-width) {
  .navigation__list {
    width: 488px;
  }

  .navigation__link {
    &--active {
    border-bottom: 2px solid $white;
    }
  }
}
