.on-map__wrapper {
  background-color: transparent;
}

.on-map__cooperation {
  margin-top: 0;

  @include text(16px, 20px);
  color: $black;
}

.on-map__address {
  margin-bottom: 0;

  font-family: $secondary-font;
  @include text(14px, 20px);
}

.on-map__wrapper--theme-light {
  background-color: $white;
}

.on-map__img {
  vertical-align: middle;
}
