.on-map__wrapper {
  text-align: left;

  background-color: transparent;

  &--theme-light {
    background-color: $white;
  }
}

.on-map__cooperation {
  margin: 0;
  width: 123px;
  margin-right: 17px;

  @include text(16px, 20px);
  color: $black;
}

.on-map__address {
  margin: 0;
  width: 50%;

  font-family: $secondary-font;
  @include text(14px, 20px);
}

.on-map__img {
  vertical-align: middle;
}

.on-map__container {
  padding-top: 30px;
  padding-bottom: 30px;

  display: flex;
}

@media (min-width: $tablet-width) {
  .on-map__container {
    padding-top: 70px;
    padding-bottom: 70px;
    justify-content: space-between;
    align-items: center;
  }

  .on-map__cooperation {
    margin: 0;
    margin-left: 40px;
  }

  .on-map__address {
    min-height: 76px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 40px;
  }

  .on-map__wrap:last-child {
    margin-top: auto;
  }
}
