.promo__subtitle {
  margin-top: 0;
  margin-bottom: 23px;
}

.promo__container {
  padding-top: 16px;
}

.promo__about {
  margin: 0;
  margin-bottom: 25px;
  width: 275px;

  font-family: $secondary-font;
  text-align: left;
}

.promo__result {
  @include flex(row);
  flex-wrap: wrap;
}

.promo__slider {
  padding-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .promo__container {
    padding-top: 44px;
  }

  .promo__about {
    margin-bottom: 55px;
    width: 700px;
  }

  .promo__result {
    margin-bottom: 85px;
    justify-content: flex-start;
    align-items: center;
  }

  .promo__subtitle {
    margin-bottom: 65px;
  }

  .promo__slider {
    padding-bottom: 68px;
  }
}

@media (min-width: $desktop-width) {
  .promo__about {
    width: 431px;
    margin-bottom: 49px;
  }

  .promo__container {
    padding-top: 0;
    padding-bottom: 71px;
  }

  .promo__box {
    @include flex(row);
    align-items: flex-end;
    margin-top: -405px;
  }

  .promo__slider {
    flex-grow: 1;
    padding-bottom: 0;
  }

  .promo__result {
    flex-wrap: wrap;
    margin-bottom: 0;
    width: 570px;
  }

  .promo__subtitle {
    width: 570px;
    margin-bottom: 146px;
  }
}
