.promo__subtitle {
  margin-top: 0;
}

.promo__about {
  font-family: $secondary-font;
  text-align: left;
}

.promo__result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
}

@media (min-width: $tablet-width) {
  .promo__result {
    margin-bottom: 255px;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .promo__about {
    width: 432px;
    margin-bottom: -70px;
  }

  .promo__box {
    @include flex(row);
  }

  .promo__slider {
    flex-grow: 1;
  }

  .promo__result {
    flex-wrap: wrap;
    margin-bottom: 0;
    width: 570px;
  }

  .promo__subtitle {
    width: 570px;
  }
}
