.see-more {
  position: relative;

  @include flex(column);
  justify-content: flex-end;
  align-items: center;

  box-sizing: border-box;
  min-height: 210px;
  width: 320px;
  padding: 0 20px;
  padding-bottom: 25px;

  @include text(16px, 20px);
  color: $black;
  text-align: center;

  background-size: 31px 31px;
  border-bottom: 1px solid #ededed;

  &::before {
    position: absolute;
    top: 26px;
    left: 145px;

    width: 31px;
    height: 31px;

    content: '';
    opacity: 0.2;
    background: url('../img/icon-plus-mobile.svg') no-repeat;
  }
}

.see-more__paragraph {
  margin: 0;
  margin-bottom: 8px;

  text-transform: uppercase;
}

.see-more__info {
  margin: 0;
  margin-bottom: 21px;

  font-family: $secondary-font;
  @include text(12px, 16px);
  color: $black-lightest;
}

.see-more__link {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .see-more {
    min-height:432px;
    width: 324px;
    padding: 0 40px 40px;

    @include text(20px, 20px);

    border: 1px solid rgba(205,205,205,0.5);
  }

  .see-more__paragraph  {
    margin-bottom: 28px;
  }

  .see-more__info {
    margin-bottom: 85px;

    @include text(16px, 20px);
  }
}

@media (min-width: $desktop-width) {
  .see-more {
    width: 245px;

    text-align: center;
  }
}
