.slider__button {
  padding: 0;
  padding-bottom: 5px;

  @include text(16px, 20px);
  color: $black;
  text-transform: uppercase;

  border: none;
  background: transparent;

  &:hover {
    cursor: pointer;
  }
}

.slider__switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: 6px;
}

.slider__track {
  margin: 0 18px;
  margin-top: 4px;
}

.slider__image {
  display: block;
  width: fit-content;
  margin-left: -20px;
  margin-bottom: 32px;

  &:last-of-type {
    display: none;
  }
}

.slider__img {
  vertical-align: middle;
}

@media(min-width: $tablet-width) {

  .slider__image {
    margin-left: 16px;
    margin-bottom: 20px;
  }

  .slider__img {
    width: 690px;
    height: 517px;
  }

  .slider__track {
    margin: 0 21px;
    margin-top: 7px;
  }

  .slider__button {
    @include text(20px, 20px);

    border-bottom: 1px dotted $black-light;

    &:hover {
      border: none;
    }

    &:active {

      &::before {
        display: none;
      }
    }
  }

  .slider__switch {
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .slider__switch {
    justify-content: flex-end;
  }

  .slider__track {
    margin-top: 10px;
  }

  .slider__image {
    margin: 0;
    margin-bottom: 38px;
    margin-right: -40px;
  }
}
