.special-promo {
  min-height: 289px;

  background: $green url('../img/gift-photo-mobile@1x.jpg') no-repeat center top;
}

.special-promo__about {
  font-family: $secondary-font;
  @include text(16px, 20px);
  color: $white;
}
