.title {
  position: relative;
  @include text(24px, 24px);
  font-weight: 400;
  color: $black;
  text-align: left;

  background: $white;

  &::before {
    position: absolute;
    z-index: -1;
    top: 14px;
    left: -50vw;

    height: 3px;
    width: 200vw;

    content: '';
    background: $green;
  }
}

@media (min-width: $tablet-width) {
  .title {
    @include text(36px, 36px);

    &::before {
      top: 23px;
    }
  }
}
