.title {
  position: relative;
  @include text(24px, 24px);
  font-weight: 400;
  color: $black;
  text-align: left;

  background: $white;

}

@media (min-width: $tablet-width) {
  .title {
    @include text(36px, 36px);

    &::before {
      position: absolute;
      top: 60%;
      left: -30px;
      z-index: -1;


      height: 3px;
      width: 100vw;

      content: '';
      background: $green;
    }
  }
}

@media (min-width: $desktop-width) {
  .title {
    &::before {
      left: -40px;
    }
  }
}
