.type-of-food {
  padding: 0 20px;
  padding-top: 40px;
  text-align: left;

  background-color: $gray-light;
}

.type-of-food__title {
  margin-top: 0;
  padding-left: 70px;

  @include text(24px, 37px);
  font-weight: 400;
  color: $black;
}

.type-of-food__about {
  font-family: $secondary-font;
}

.type-of-food__link {
  display: block;
  padding-top: 20px;

  @include text(16px, 16px);
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .type-of-food {
    padding: 0 52px;
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .type-of-food__title {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .type-of-food {
    width: 570px;
  }

  .type-of-food__title {
    padding-left: 164px;
    margin-bottom: 75px;
  }

  .type-of-food__about {
    margin-bottom: 36px;
  }
}
