.wrapper {
  width: 124px;
  @include flex(column);
  align-items: center;
  box-sizing: border-box;

  border-radius: 3px;
  border: 1px solid #cdcdcd;
}

.wrapper__title {
  margin: 0;
  margin-bottom: -15px;
  padding: 0 8px;
  width: 87px;
  box-sizing: border-box;

  font-family: $secondary-font;
  @include text(12px, 12px);
  text-transform: lowercase;

  background: $gray-light;
}

.wrapper__paragraph {
  margin: 0;
  margin-top: 13px;
  margin-bottom: 8px;
  @include text(24px, 24px);
  color: $black;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .wrapper {
    width: 162px;
  }

  .wrapper__paragraph {
    margin-top: 12px;
    margin-bottom: 12px;

    @include text(30px, 37px);

  }

  .wrapper__title {
    width: auto;
    margin-bottom: -5px;

    @include text(14px, 14px);

    background: $white;
  }
}

@media (min-width: $desktop-width) {
  .wrapper__title {
    background: $gray-light;
  }
}
