body {
  font-family: $default-font;
  @include text(14px, 18px);
  font-weight: 400;
  text-align: center;
  color: $black-lightest;

  background: $white;
}

@media (min-width: $tablet-width) {
  body {
    @include text(16px, 24px);
  }
}

a {
  color: inherit;
  text-decoration: none;
}
