body {
  width: 280px;
  padding: 0 20px;
  margin: auto;

  font-family: $default-font;
  @include text(14px, 18px);
  font-weight: 400;
  color: $black-lightest;

  background-color: $white;
  outline: 1px solid green;
}

@media (min-width: $tablet-width) {
  body {
    width: 768px;
    margin: auto;
    background: $white;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
