$default-font: "Oswald", Arial, sans-serif;
$secondary-font: Arial, sans-serif;

$black: #111111;
$black-light: #222222;
$black-lightest: #444444;
$white: #ffffff;
$gray: #ebebeb;
$gray-light: #f2f2f2;
$gray-dark: #dadada;
$green: #68b738;
$green-dark: #5eaa2f;

$social-icons-color: #666666;

$button-green: $green;
$button-green--hover: $green-dark;

$button-gray: $gray-light;
$button-gray--hover: $gray;


$nav-link-color: $black;
$nav-link-color--hover: rgba(17, 17, 17, 0.3);
$nav-link-color--active: rgba(17, 17, 17, 0.6);

$border-input: 1px solid #cdcdcd;
$border-food-card: 1px solid #ededed;
$border-extra-card: 1px solid #cccccc;
$border-focus: $black-lightest;
$border-error: #ff8282;

$tablet-width: 768px;
$desktop-width: 1300px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
